<!--<iframe src="{{login.authFrameUrl}}" class="popup-authframe" frameborder="0"></iframe>-->
<div class="popup-login">
    <div class="popup-head">
        <div class="popup-head-logo"><img src="../assets/popup-logo.png" alt=""> for <span>{{::config.platform}}</span></div>
    </div>
    <div class="popup-login-body">
        <img src="../assets/login-header.png" alt="">
        <div class="popup-login-body-features">
            Sign up now to unlock the following
            <ul>
                <li>Correct your text as you type</li>
                <li>Enable/Disable on preferred websites</li>
                <li>Store your personal dictionary</li>
            </ul>
        </div>
        <a href="javascript:" ng-click="login.openAuthPage()" class="popup-login-body-btn">Login</a>
        <div class="popup-login-body-link">Don’t have an account? <a href="javascript:" ng-click="login.openAuthPage('signup')">Sign Up It’s free</a></div>
    </div>
</div>